<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.331777375746-eds9eebeckavt8m2sm6pc2uiu83f4g83</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiZHJld2hhcnRzIiwiYSI6ImNtNnNpbnBrdjA4aXcyaXE0aDV3Y25qZTQifQ.3TUkiF3r3mHx44dyywy2JQ</string>
</dict>
</plist>
